@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Roboto, Helvetica, sans-serif;
}

@layer base {
	@layer base {
		:root {
			--background: 213 44% 93%;
			--foreground: 0 0% 5%;
			--card: 216 9% 89%;
			--card-foreground: 0 0% 5%;
			--popover: 216 9% 89%;
			--popover-foreground: 0 0% 5%;
			--primary: 212 97% 86%;
			--primary-foreground: 0 0% 5%;
			--secondary: 242 95% 83%;
			--secondary-foreground: 0 0% 5%;
			--muted: 210 14% 78%;
			--muted-foreground: 0 0% 30%;
			--accent: 182 95% 85%;
			--accent-foreground: 0 0% 5%;
			--destructive: 351 100% 62%;
			--destructive-foreground: 0 0% 100%;
			--border: 211 24% 83%;
			--input: 0 0% 86%;
			--ring: 213 96% 73%;
			--chart-1: 212 96% 78%;
			--chart-2: 2 96% 78%;
			--chart-3: 62 96% 78%;
			--chart-4: 182 96% 78%;
			--chart-5: 242 96% 78%;
			--radius: 0.3rem;
		}

		.dark {
			--background: 213 20% 11%;
			--foreground: 0 0% 95%;
			--card: 216 6% 15%;
			--card-foreground: 0 0% 95%;
			--popover: 216 6% 15%;
			--popover-foreground: 0 0% 95%;
			--primary: 212 96% 73%;
			--primary-foreground: 0 0% 5%;
			--secondary: 242 96% 68%;
			--secondary-foreground: 0 0% 100%;
			--muted: 210 9% 35%;
			--muted-foreground: 0 0% 70%;
			--accent: 182 96% 53%;
			--accent-foreground: 0 0% 5%;
			--destructive: 351 100% 41%;
			--destructive-foreground: 0 0% 100%;
			--border: 211 11% 38%;
			--input: 0 0% 30%;
			--ring: 213 96% 73%;
			--chart-1: 212 96% 78%;
			--chart-2: 2 96% 78%;
			--chart-3: 62 96% 78%;
			--chart-4: 182 96% 78%;
			--chart-5: 242 96% 78%;
		}
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* //TODO: how to make it appear in hints? */
.skeleton-button {
	@apply h-9 w-9 bg-primary/50;
}
