/* vinyl.module.css */
.recordContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
}

.record {
	position: relative;
	width: 58px;
	height: 60px;
	border-radius: 50%;
	border-width: 29.5px 0px !important;
	background: #f7aac7;
	color: #da5a33ce;
}

.spin {
	animation: spin 1.3s linear infinite;
}

.record:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	background: linear-gradient(
		45deg,
		#999 5%,
		#ccc 10%,
		#ccc 30%,
		#ddd 50%,
		#ccc 70%,
		#ccc 80%,
		#999 95%
	);
	top: calc(50% - 3px);
	left: calc(50% - 3px);
	border-radius: 50%;
}

.line {
	position: absolute;
	top: 0%;
	left: 50%;
	height: 200px;
	width: 0;
	border-radius: 1rem;
	z-index: 2;
}

.needle {
	--needle-height: 5px;
	top: calc(50% - var(--needle-height));
	right: 10px;
	position: absolute;
	height: var(--needle-height);
	width: 3rem;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.needle::before {
	content: '';
	position: absolute;
	top: -4px;
	width: 13px;
	height: 15px;
	background-color: inherit;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.15rem;
	border-bottom-left-radius: 0.15rem;
	z-index: 2;
}

.needle::after {
	content: '';
	position: absolute;
	top: 8px;
	left: 5px;
	width: 2.5px;
	height: 7px;
	background: linear-gradient(#f08d6f, 85%, rgb(0, 255, 42));
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	z-index: 1;
}

.needleConstruction {
	--needle-construction: 80px;
	position: absolute;
	top: calc(50% - var(--needle-construction) - 15px);
	right: 8px;
	width: 8px;
	height: var(--needle-construction);
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	z-index: 2;
}

.needleConstruction::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: -1px;
	width: 10px;
	height: 10px;
	background-color: inherit;
	border: 1px dashed black;
	border-radius: 50%;
}

.spinNeedle::before {
	animation: spin 1.5s linear infinite;
}

.needleContainer {
	position: absolute;
	top: 10px;
	right: -2px;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	border-radius: 50%;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
