.vinyl-wrapper {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
	width: 200px;
	height: 200px;
}

.record-sleeve {
	width: 100%;
	height: 100%;
	position: absolute;
	background: -webkit-radial-gradient(
		49% 50%,
		circle,
		transparent 27%,
		#8c737c 10%
	);
	background: -moz-radial-gradient(
		49% 50%,
		circle,
		transparent 27%,
		#8c737c 10%
	);
	background: radial-gradient(49% 50%, circle, transparent 27%, #8c737c 10%);
	border-radius: 2px;
	box-shadow: -3px 5px 10px -1px grey;
	z-index: 3;
}

.vinyl {
	position: relative;
	/* -ms-transform: translate(69px); */
	/* transform: translate(69px); */
	background: #f7aac7;  /** line inside */
	width: 58px;
	height: 60px;
	border-radius: 50%;
	border: solid #e7568d; /** center of the vinyl */
	border-width: 29px 0px;
	box-shadow: 0px 0px 3px #f7aac7, 0px 0px 0px 10px #ea6a9b,
		0px 0px 15px #f7aac7, 0px 0px 0px 16px #000, 0px 0px 0px 17px #252424,
		0px 0px 0px 18px #000, 0px 0px 0px 19px #313030, 0px 0px 0px 20px #000,
		0px 0px 0px 21px #3a3838, 0px 0px 0px 22px #000,
		0px 0px 0px 23px #2b2a2a, 0px 0px 0px 24px #000,
		0px 0px 0px 25px #313030, 0px 0px 0px 26px #000,
		0px 0px 0px 27px #313030, 0px 0px 0px 28px #000,
		0px 0px 0px 29px #333333, 0px 0px 0px 30px #000,
		0px 0px 0px 31px #333232, 0px 0px 0px 32px #000,
		0px 0px 0px 33px #4c4a4a, 0px 0px 0px 34px #000,
		0px 0px 0px 35px #2f2e2e, 0px 0px 0px 36px #000,
		0px 0px 0px 37px #252424, 0px 0px 0px 38px #000,
		0px 0px 0px 39px #2f2e2e, 0px 0px 0px 40px #000,
		0px 0px 0px 41px #2f2e2e, 0px 0px 0px 42px #000,
		0px 0px 0px 55px #2f2e2e, 0px 0px 0px 56px #000,
		0px 0px 0px 57px #2f2e2e, 0px 0px 0px 58px #cecece, /** this and last on is for border */
		0px 0px 0px 59px #2f2e2e;
}

.vinyl:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	background: white;  /** center tip */
	top: calc(50% - 3px);
	left: calc(50% - 3px);
	border-radius: 50%;
}